<!DOCTYPE html>
<html lang="es">

<head>
    <title>Book Joy</title>
    <%- include('./partials/head.ejs') %>


</head>

<body>
    <header class="container-fluid">
        <%- include('./partials/header.ejs') %>
    </header>
    <main class="container" style="width: 50%;">
        <h1>Reserva ya tu apartamento en Book Joy</h1>
        <form action="/search" method="get">
            <label for="maxPrice">Precio máximo por noche</label>
            <input type="number" name="maxPrice" id="maxPrice" value="<%= filters.maxPrice %>" required>
            <input type="submit" value="Buscar">
        </form>
        <section>
            <% allApartments.forEach(function(apt) { %>

                <a href="/apartment/<%= apt._id %>">
                    <article>
                        <header>
                            <%= apt.title %>
                        </header>
                        <img src="<%= apt.mainPhoto %>" alt="<%= apt.title %>">
                        <footer>
                            <%= apt.price %> €
                        </footer>
                    </article>
                </a>
                <% }); %>

        </section>
    </main>
</body>

</html>